{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true,
    "node": true
  },
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "default-case": "error",
    "eqeqeq": "warn",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "no-empty-function": "warn",
    "no-extra-bind": "warn",
    "max-depth": "warn",
    "max-len": [
      "warn",
      {
        "code": 100,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "no-multiple-empty-lines": "warn",
    "no-trailing-spaces": [
      "warn",
      {
        "ignoreComments": true,
        "skipBlankLines": true
      }
    ],
    "react/no-access-state-in-setstate": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "no-implicit-coercion": [2, {"boolean": true, "number": true, "string": true}],
  }
}

